body{ background-color: gray;
    margin-left: 25%;

}

.container{
    background-color: lightblue;
    width: 700px;
    height: auto;
    margin-bottom: 17.6px;
}

#spalte1{
    background-color: white;
    height: 80px;
    width: 600px;
}

#spalte2{
    position: relative;
    background-color: white;
    height: 80px;
    width: 600px;
}

.spalte3{
    margin-top: 17.6px;
    position: relative;
    background-color: white;
    height: 80px;
    width: 600px;
}



#text1{
    padding:20px;
    font-size: 30px;
    width: 450px;
    height: 40px;
    border: none;
    float: right;
    background-color:transparent;
    border-color:transparent;
}

.text2{
position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    left: 110px;
    top: 25px;
}
 .kreis{
    color: black;
    position: absolute;
    cursor: pointer;
    font-size: 60px;
    left: 10px;
    top: 10px;
 }


 .check{
    color: black;
    position: absolute;
    cursor: pointer;
    font-size: 60px;
    left: 10px;
    top: 10px;

 }
 


 .trash{
    color: black;
    position: absolute;
    cursor: pointer;
    font-size: 60px;
    right: 10px;
    top: 10px;
 }

 

 .isHidden {
    display: none !important;
    text-emphasis: none !important;
}