body {
    font-family: sans-serif;
    margin-top: auto;
    background: url(bg4.png) left top repeat;
}
#wrapperbg{
    background: url(wrapperbg4.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.posit{
    left: 8%;
    top: 8%;
    position: relative;
}

.lorem {
    color: white;
    position: relative;
}

.formular {
    color: black;
    position: relative;
}
.formular2 {
    color: black;
    position: relative;
}
.check {
    color: white;
    position: relative;
}
.check2 {
    color: white;
    position: relative;
}
.button {
    color: white;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
