body {
    font-family: sans-serif;
    margin-top: auto;
    background: url(bg4.png) left top repeat;
}
#wrapperbg{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lorem {
    color: white;
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.formular {
    color: black;
    display: flex;
    position: absolute;
    top: 40%;
    left: 39%;
    transform: translate(-50%, -50%);
}
.formular2 {
    color: black;
    display: flex;
    position: absolute;
    top: 48%;
    left: 40%;
    transform: translate(-50%, -50%);
}
.check {
    color: white;
    display: flex;
    position: absolute;
    top: 56%;
    left: 39%;
    transform: translate(-50%, -50%);
}
.check2 {
    color: white;
    display: flex;
    position: absolute;
    top: 56%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.button {
    color: white;
    display: flex;
    position: absolute;
    top: 61%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
