body {
    font-family: sans-serif;
    margin-top: auto;
    background: url(bg2.png) left top repeat;
}
#wrapperbg{
    background: url(wrapperbg2.png) ;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shell1{
    position: absolute;
    top: 60%;
    left: 30%;

}

.shell2{
    position: absolute;
    top: 50%;
    left: 50%;
}

#icon {
    position: absolute;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}


#icon:hover {
transform: scale(1.3);
}